<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col">
        Идем дальше
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="assets/steps/step2_loc.jpg" alt="" class="img-fluid step-image">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="assets/steps/step2.jpg" alt="" class="img-fluid step-image">
      </div>
    </div>
    <app-question-form [expectedAnswer]="['универ', 'университет', 'хнурэ']" [nextStepUrl]="'step/3'"></app-question-form>
  </div>
</div>
