<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col">
        Обожаю этот парк) ..парк шевченко около барашка
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="assets/steps/step9_loc.jpg" alt="" class="img-fluid step-image">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="assets/steps/step9.jpg" alt="" class="img-fluid step-image">
      </div>
    </div>
    <app-question-form [expectedAnswer]="['сквер победы']" [nextStepUrl]="'step/10'"></app-question-form>
  </div>
</div>
