<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col">
        Ммм... Кофеек:)
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="assets/steps/step6_loc.jpg" alt="" class="img-fluid step-image">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="assets/steps/step6.jpg" alt="" class="img-fluid step-image">
      </div>
    </div>
    <app-question-form [expectedAnswer]="['одесса']" [nextStepUrl]="'step/7'"></app-question-form>
  </div>
</div>
