<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col">
        Пройдемся?) Или проедемся?)
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="assets/steps/step8_loc.jpg" alt="" class="img-fluid step-image">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="assets/steps/step8.jpg" alt="" class="img-fluid step-image">
      </div>
    </div>
    <app-question-form [expectedAnswer]="['гудаури', 'грузия']" [nextStepUrl]="'step/9'"></app-question-form>
  </div>
</div>
