<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col">
        Давай искать!
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="assets/steps/step5_loc.jpg" alt="" class="img-fluid step-image">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="assets/steps/step5.jpg" alt="" class="img-fluid step-image">
      </div>
    </div>
    <app-question-form [expectedAnswer]="['шри-ланка', 'шри ланка']" [nextStepUrl]="'step/6'"></app-question-form>
  </div>
</div>
