<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col">
        Молодец :) Ну, пойдем дальше! ..садик
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="assets/steps/step1_loc.jpg" alt="" class="img-fluid step-image">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="assets/steps/step1.jpg" alt="" class="img-fluid step-image">
      </div>
    </div>
    <app-question-form [expectedAnswer]="['школа', 'гимназия']" [nextStepUrl]="'step/2'"></app-question-form>
  </div>
</div>
