<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col">
        Это твоя первая локация
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="assets/steps/step0_loc.jpg" alt="" class="img-fluid step-image">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="assets/steps/step0.jpg" alt="" class="img-fluid step-image">
      </div>
    </div>
    <app-question-form [expectedAnswer]="['садик']" [nextStepUrl]="'step/1'"></app-question-form>
  </div>
</div>
